.user {
  margin: auto;
  width: 75%;
  border: 3px solid green;
  padding: 10px;
}

.result {
  margin: auto;
  width: 75%;
  border: 3px solid red;
  padding: 20px;

}

.repo-container {
 
  right: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
  display: flexbox;

}

.org-container {
  left: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
  display: flexbox;
}

.row {
  margin: auto;
}

.output {
  
}

.spinner {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
}